@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

sup { font-size: 12px; font-family: "HK Grotesk", "Helvetica", "Arial", serif; weight: 700; }

button { background: #000; padding: 10px 30px; border-radius: 30px; border: 1px solid #308AD9; color: #308AD9; font-family: "Duospace", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 15px; font-weight: bold; text-transform: uppercase; transition: all .3s ease; margin-bottom: 15px; }

button:hover { cursor: pointer; background: #308AD9; color: #000; }

body { font: normal 15px/1.5 "Duospace", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #fff; background-color: #000; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 30px; }

p { text-align: justify; }

main { display: block; }

img { max-width: 100%; vertical-align: middle; }

figure > img { display: block; }

figcaption { font-size: 15px; }

ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 { color: #308AD9; font-family: "HK Grotesk", "Helvetica", "Arial", serif; font-weight: 400; }

a { color: #308AD9; text-decoration: none; }

a:visited { color: #308AD9; }

a:hover { color: #fff; text-decoration: underline; }

pre, code { font-size: 14.0625px; border: 1px solid #fff5ec; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

.wrapper { max-width: -webkit-calc(1140px - (30px * 2)); max-width: calc(1140px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }

@media screen and (max-width: 1200px) { .wrapper { max-width: -webkit-calc(1140px - (30px)); max-width: calc(1140px - (30px)); padding-right: 20px; padding-left: 20px; } }

.wrapper:after, .footer-col-wrapper:after { content: ""; display: table; clear: both; }

#nav { color: #308AD9; z-index: 9999; position: sticky; height: 41px; width: 100%; top: 0; padding: 15px 0; border-top: 1px solid #308AD9; }

#nav button { font-size: 16.5px; font-family: "HK Grotesk", "Helvetica", "Arial", serif; text-transform: none; }

#nav #home { background: #308AD9; color: #000; border-color: #308AD9; }

#tab_active { cursor: pointer; background: #308AD9; color: #000; }

.site-title { font-size: 24.375px; font-weight: 300; line-height: 50.625px; letter-spacing: -1px; margin-bottom: 0; float: left; }

.site-title, .site-title:visited { color: #ffbf86; }

.site-nav { float: right; line-height: 50.625px; }

.site-nav .nav-trigger { display: none; }

.site-nav .menu-icon { display: none; }

.site-nav .page-link { color: #fff; line-height: 1.5; }

.site-nav .page-link:not(:last-child) { margin-right: 20px; }

@media screen and (max-width: 768px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #ede5e3; border: 1px solid #230d57; border-radius: 5px; text-align: right; }
  #nav { position: relative; }
  .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg { fill: #230d57; }
  .site-nav input ~ .trigger { clear: both; display: none; }
  .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; }
  .post-title .p-name { margin-top: 0;}}

.site-footer { padding-top: 30px; }

.footer-col-wrapper { font-size: 14.0625px; color: #fff; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 1200px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); }
  .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 768px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

.page-content { padding: 30px 0; flex: 1; }

.post-header { margin-bottom: 30px; }

.post-title { font-size: 60px; line-height: 1.1; color: #fff; font-weight: 700; margin-top: 45px; margin-bottom: 60px; width: 80%; }

@media screen and (max-width: 1200px) { .post-title { width: 100%; font-size: 46.5px; } }



.post-content .main-post-content { grid-column: 3 / 7; padding-top: 30px; }

.main-post-content .illustration { width: 60%; margin-left: 20%; padding-top: 30px; padding-bottom: 30px;}

.main-post-content .illustration p { text-align: left; padding-top: 5px;}

.main-post-content .double_image { width: 80%; margin-left: 10%; margin-bottom: 30px;}

.main-post-content .double-colonnes { column-count: 2; column-gap: 30px; margin-bottom: 40px; column-fill: balance; }

.main-post-content .double-colonnes img { width: 50%; }

@media screen and (max-width: 1200px) { .post-content .main-post-content { grid-column: 1 / 7; } }

.post-content .main-post-content p { margin-bottom: 60px; }

.post-content .main-post-content blockquote { font-size: 15px; }

.post-content .main-post-content h2 { font-size: 19.5px; margin-top: 0; margin-bottom: 30px; }

@media screen and (max-width: 1200px) { .post-content .main-post-content h2 { font-size: 21px; } }

.post-content .main-post-content h3 { font-size: 19.5px; }

@media screen and (max-width: 1200px) { .post-content .main-post-content h3 { font-size: 20.625px; } }

.post-content .main-post-content h4 { font-size: 18.75px; }

@media screen and (max-width: 1200px) { .post-content .main-post-content h4 { font-size: 16.875px; } }

.post-content .main-post-content p { font-size: 15px; }

@media screen and (max-width: 1200px) { .post-content .main-post-content p { font-size: 15px; } }

#cover { background: url("images/cover.jpg") no-repeat center; background-size: 100%; background-repeat: no-repeat; background-position: center; width: 100vw; height: 100vh; position: relative; left: calc(-50vw + 50%); top: -105px; display: flex; align-items: center; justify-content: center; vertical-align: middle; flex-wrap: wrap; color: #FFFFFF; }

#cover .post-title { text-align: center; font-size: 90px; -webkit-text-stroke-color: #308AD9; -webkit-text-stroke-width: 1px; color: #308AD9; font-weight: 700; width: 90%; margin: auto; }

#cover h2 { font-size: 30px; width: 95%; text-align: center; margin: auto; color: #fff; line-height: 1.1; text-shadow: 0 0 2px #000; }

#cover .description { width: 1140px; margin: auto; padding: 0 60px; font-size: 21px; color: #308AD9; }

#cover .description blockquote { font-size: 21px; }

#index { margin-top: 60px; }

@media screen and (max-width: 768px) { #nav {height: 100px;} .main-post-content .double-colonnes img { width: 100%;} .main-post-content .double-colonnes { column-count: 1;} .main-post-content .illustration { width: 100%; margin-left: 0%; margin-top: -40px; padding-top: 0;} .main-post-content .double_image { width: 100%; margin-left: 0; margin-bottom: 30px;} .page-content { padding: 0;}}

@media screen and (max-width: 420px) {#nav {height: 200px;}}

.home-content p { font-size: 17px; column-count: 2; column-gap: 30px; margin-bottom: 60px; }

.home-content .subtitle {font-weight: 800; font-size: 20px; padding-top: 20px; padding-bottom: 20px; }

@media screen and (max-width: 768px) { .home-content p { column-count: 1; } }

@font-face { font-family: 'Duospace'; src: url("./fonts/iAWriterQuattroS-Bold.woff2") format("woff2"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Duospace'; src: url("./fonts/iAWriterQuattroS-BoldItalic.woff2") format("woff2"); font-weight: 700; font-style: italic; }

@font-face { font-family: 'Duospace'; src: url("./fonts/iAWriterQuattroS-Regular.woff2") format("woff2"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Duospace'; src: url("./fonts/iAWriterQuattroS-Italic.woff2") format("woff2"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'HK Grotesk'; src: url("./fonts/HKGrotesk-Regular.woff2") format("woff2"); font-weight: 400; }

@font-face { font-family: 'HK Grotesk'; src: url("./fonts/HKGrotesk-Bold.woff2") format("woff2"); font-weight: 700; }

/*# sourceMappingURL=main.css.map */